.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 10% 0 0 0;
  text-align: center;
  padding: 30px;
  h1 {
    color:#12569F ;
  }
  .position {
    color: #FD746C;
    font-size: 50px;
  }
  #position {
    margin-bottom: 15%;
  }
  // button {
  //   position: absolute;
  //   bottom: 20px;
  //   left: 40%;
  // }
  .buttons {
    display: flex;
    align-items: flex-end;

  }
  @media print {
    .buttons {
        display: none;
    }
  }
}
p {
  margin-top: 5px;
}

