.codeQR {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(8px 8px 8px #333);
  margin: 10%;

}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 70px;
  margin: 10px;
}
.aClass {}

@media screen and (width :400px ) {
  h1 {
    font-size: 30px;
  }}
