.codeQR {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(8px 8px 8px #333);
  margin: 10%;

}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 70px;
  margin: 10px;
}
.goHome {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
      img{
        width: 100px;
        height: 100px;
      }
      button {
        border: none;
        background-color: transparent;
      }
      &:hover {
        cursor: pointer;
      }
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
.alternative{
  button {
    background-color: #fff;
    border: 1px solid #0956A3;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px


  };
}
}


.aClass {}

@media screen and (width :400px ) {
  h1 {
    font-size: 30px;
  }}
