.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: auto;
  border: 2px solid #0956A3;
  width: 15%;
  border-radius: 15px;
  a{
    text-decoration: none;
  }
  h2{
    margin: 20px;
    text-align: center;
    color:#0956A3 ;
        &:hover{
          color: #FB756A;
        }

  }
  img{
    width: 150px;
    height: 150px;
  }
}
.geolocation{
  text-align: center;
  margin-top: 5%;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 70px;
  margin: 10px;
}
.content {
  margin-top: 10%;
};
.alternative{
  position: absolute;
  right: 20px;
  top: 20px;
  button {
    background-color: #fff;
    border: 1px solid #0956A3;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #0956A3;
    cursor: pointer;
    padding: 5px


  };
}
