section {
  margin: 0;
  padding-top: 15px;
  height: 100px;
  width: 100%;
  background-color: #0996a8;
  box-sizing: border-box;
  h1 {
    font-size: 32px;
    font-weight: 800px;
    letter-spacing: 2px;
    color: #fff;
    padding: 15px;
    font-family: 'Quicksand', sans-serif;
  }
}
