<img class="logo" src="/assets/Logo.png" alt="" />

<section class="container" >
  <div *ngIf="societyData" class="titre">
    <h1>{{societyData.nom_entreprise}}</h1>
  </div>
  <table>
    <thead>
        <th>Clients en attente : </th>
    </thead>
    <tbody>
      <tr>
        <td>first name</td>
        <td>last name</td>
        <td>position</td>
        <td>remove</td>
      </tr>
      <tr *ngFor="let client of clients">
        <td>{{ client.user_firstname }}</td>
        <td>{{ client.user_lastname }}</td>
        <td>{{ client.position }}</td>
        <td><button (click)="onRemove(client.user_mail)" mat-button color="warn"><i class="fa fa-times" aria-hidden="true"></i></button></td>
      </tr>
    </tbody>
  </table>
</section>
